@model List<WebApplication1.DB.Models.Product>

@{
    ViewData["Title"] = "Dishwashers";

    Random rnd = new();
    string useLink = "";
    string link1 = "https://www.thelist.com/img/gallery/get-your-dishwasher-squeaky-clean-with-this-one-ingredient/l-intro-1606769196.jpg";
    string link2 = "https://ars.repair/wp-content/uploads/2020/06/dishwasher.jpg";
    string link3 = "https://www.trustedreviews.com/wp-content/uploads/sites/54/2019/11/AEG-Dishwasher-27.jpg";
    string link4 = "https://cdn.apartmenttherapy.info/image/fetch/f_auto,q_auto:eco,c_fill,g_auto,w_1500,ar_3:2/https%3A%2F%2Fstorage.googleapis.com%2Fgen-atmedia%2F3%2F2014%2F04%2F651b6846d9f29f8cea1bb4351987015b8b88bb36.jpeg";
}


<!-- List of items -->
<div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var product in Model)
        {
            if (rnd.Next(1, 5) == 1)
                useLink = link1;
            if (rnd.Next(1, 5) == 2)
                useLink = link2;
            if (rnd.Next(1, 5) == 3)
                useLink = link3;
            if (rnd.Next(1, 5) == 4)
                useLink = link4;
            
            <div class="col">
                <div class="card h-40">
                    <img src="@useLink" class="card-img-top" alt="dishwash">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name.ToUpper()</h5>
                        <div class="CardButtonBlock">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">
                                <button class="bttn-unite bttn-md bttn-primary">Buy</button>
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@product.Price ₽</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<!-- Message with count -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <div class="rounded me-2">
                <i class="fa-solid fa-code"></i>
            </div>
            <strong class="me-auto">DD</strong>
            <small>@DateTime.UtcNow.ToString("t")</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Total count of items: @Model.Count
        </div>
    </div>
</div>


<!-- Script for message -->
<script>
const toastLiveExample = document.getElementById('liveToast')
setTimeout(function(){
    const toast = new bootstrap.Toast(toastLiveExample)
    toast.show()
}, 3000);
</script>