@using WebApplication1.DB.Models
@model List<WebApplication1.DB.Models.Product>

@{
    ViewData["Title"] = "Music albums";
    
    Random rnd = new();
    string useLink = "";
    string link1 = "https://propianino.ru/wp-content/uploads/2013/04/beethoven-moonlight-sonata-300x300.jpg";
    string link2 = "https://www.notediscover.com/art/track/ludwig-van-beethoven-minuet-in-g-32548.jpg";
    string link3 = "https://avatars.yandex.net/get-music-content/99892/4b063d26.a.5002278-1/300x300";
    string link4 = "https://avatars.mds.yandex.net/get-marketpic/1627430/market_qqI3lQCApJX7PmUF4Q8Miw/300x300";
}


<!-- List of items -->
<div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var product in Model)
        {
            if (rnd.Next(1, 5) == 1)
                useLink = link1;
            if (rnd.Next(1, 5) == 2)
                useLink = link2;
            if (rnd.Next(1, 5) == 3)
                useLink = link3;
            if (rnd.Next(1, 5) == 4)
                useLink = link4;
            
            <div class="col">
                <div class="card h-40">
                    <img src="@useLink" class="card-img-top" alt="dishwash">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name.ToUpper()</h5>
                        <div class="CardButtonBlock">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">
                                <button class="bttn-unite bttn-md bttn-primary">Buy</button>
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@product.Price ₽</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<!-- Message with count -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <div class="rounded me-2">
                <i class="fa-solid fa-code"></i>
            </div>
            <strong class="me-auto">DD</strong>
            <small>@DateTime.UtcNow.ToString("t")</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Total count of items: @Model.Count
        </div>
    </div>
</div>


<!-- Script for message -->
<script>
const toastLiveExample = document.getElementById('liveToast')
setTimeout(function(){
    const toast = new bootstrap.Toast(toastLiveExample)
    toast.show()
}, 3000);
</script>