@model List<WebApplication1.DB.Models.Product>

@{
    ViewData["Title"] = "Scarlett";
    
    Random rnd = new();
    string useLink = "";
    string link1 = "https://img.5element.by/import/images/ut/goods/good_c845ec97-4716-11e5-813c-00505684b891/good_img_56f009cb-77a0-11e7-80eb-005056842056.jpg";
    string link2 = "https://tehnoteca.ru/img/693/692278/scarlett_sc_ah986e03_1.jpg";
    string link3 = "https://multimart.by/upload/iblock/190/50/product_image_268750_2881369.jpg";
    string link4 = "https://100pro.by/imagesaver/product/big/rsbza9axfyodvocohxkc_1603772918.jpg";
}


<!-- List of items -->
<div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var product in Model)
        {
            if (rnd.Next(1, 5) == 1)
                useLink = link1;
            if (rnd.Next(1, 5) == 2)
                useLink = link2;
            if (rnd.Next(1, 5) == 3)
                useLink = link3;
            if (rnd.Next(1, 5) == 4)
                useLink = link4;
            
            <div class="col">
                <div class="card h-40">
                    <img src="@useLink" class="card-img-top" alt="dishwash">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name.ToUpper()</h5>
                        <div class="CardButtonBlock">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">
                                <button class="bttn-unite bttn-md bttn-primary">Buy</button>
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@product.Price ₽</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<!-- Message with count -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <div class="rounded me-2">
                <i class="fa-solid fa-code"></i>
            </div>
            <strong class="me-auto">DD</strong>
            <small>@DateTime.UtcNow.ToString("t")</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Total count of items: @Model.Count
        </div>
    </div>
</div>


<!-- Script for message -->
<script>
const toastLiveExample = document.getElementById('liveToast')
setTimeout(function(){
    const toast = new bootstrap.Toast(toastLiveExample)
    toast.show()
}, 3000);
</script>